@media print{
	body{
		max-width:none
	}
}
body{
	color: #444;
	background-color: #EAEAEA;
	
	margin: 1em auto;
	padding: 0 .63em;
	max-width: 40em;
	
	font:1.2em/1.62 sans-serif;
	font-size: 16px;
	line-height: 1.6;	
}
h1,h2,h3{
	line-height: 1.2;
}

