/*SPDX-License-Identifier: AGPL-3.0*/
@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000}
	a:link {color:#cdf}
	a:hover, a:visited:hover {color:#def}
	a:visited {color:#dcf}
}
@media print{
	body{
		max-width:none
	}
}
body{
	margin: 1em auto;
	padding: 0 .62em;
	max-width: 40em;
	font: 1.2em/1.62 sans-serif;
}
h1,h2,h3{
	line-height: 1.2;
}

